*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Lambda dependencies
.lambda_dependencies*
.DS_Store

# Terraform
.env
.auto.tfvars
.terraform
plan
.terraform.lock.hcl
